.navigation {
    margin-bottom: 10px;
}

.category {
    width: 100%;
    font-size: 8pt;
    background: #fafaff;
    margin: 10px;
    padding: 10px;
}

table {
    width: 100%;
    background: #fafaff;
    margin: 10px;
}

table.products {
    border-collapse: collapse;
    table-layout: fixed;
}

th {
    text-align: left;
}

td.brand {
    font-size: 10pt;
    width: 20%;
    vertical-align: top;
    text-align: left;
    background: #fafaff;
    padding: 14px;
    border-top-right-radius: 20px;
}

td.items {
    font-size: 10pt;
    text-align: left;
    background: #fafaff;
    padding: 10px;
}

td.price {
    width: 150px;
}

td.rate {
    width: 70px;
}

tr:nth-child(odd) {
    background-color: #f9e9e9;
}

tr:nth-child(even) {
    background-color: #f9f3f3;
}
