{% extends 'base.html' %}
{% load static %}

{% block title %}{{ data.0}} | Details{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'logger/css/kant.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-9">
            {% include "display/brand_list.html" %}
        </div>
        <div class="col-3">
            {% include "display/category.html" %}
        </div>
    </div>
</div>
{% endblock %}
