<div class="topic-list">
    <div class="topic-list__item">
        <h4><a href="#">Asics</a></h4>
        <h6>Категория: "Аналитика бренда"</h6>
        <p>Description about this running brand. It's amazing for sales!)</p>
        <a href="{% url 'brand_details' 'Asics' %}" class="btn btn-outline-info btn-sm">Подробнее..</a>
    </div>
    <div class="topic-list__item">
        <h4><a href="#">Saucony</a></h4>
        <h6>Категория: "Аналитика бренда"</h6>
        <p>Description about this running brand. It's amazing for sales!)</p>
        <a href="{% url 'brand_details' 'Saucony' %}" class="btn btn-outline-info btn-sm">Подробнее..</a>
    </div>
    <div class="topic-list__item">
        <h4><a href="#">Mizuno</a></h4>
        <h6>Категория: "Аналитика бренда"</h6>
        <p>Description about this running brand. It's amazing for sales!)</p>
        <a href="{% url 'brand_details' 'Mizuno' %}" class="btn btn-outline-info btn-sm">Подробнее..</a>
    </div>
</div>