{% extends "base.html" %}
{% load static %}

{% block title %}Logger | Index{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'logger/css/index.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-8">
            {% include "display/brand_list.html" %}
        </div>
        <div class="col-4">
            {% include "display/category.html" %}
        </div>
    </div>
</div>
{% endblock %}
