{# все бренды с краткой статистикой и основные продаваемые модели по ним #}

<div class="topic-list">
    <table class="products">
        <tr>
            <td class="brand"><div>Основная статистика по бренду</div></td>
            <td class="items">
                <div>
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>Модель</th>
                                <th>Стоимость</th>
                                <th>Нагорная</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td></td><td class="price"></td><td class="rate"></td></tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
    </table>
    {% for brand, shoes in data.items %}
    <table class="products">
        <tr>
            <td class="brand">
                <div>
                    <div>
                        {# если запрос содержит только один бренд #}
                        {% if data.keys|length == 1 %}
                            <b>{{ brand }}</b>
                        {% endif %}

                        {# в запросе много брендов #}
                        {% if data.keys|length > 1 %}
                            <b><a href="{% url 'brand_details' brand %}">{{ brand }}</a></b></div>
                        {% endif %}
                    </div>
                    <div>Продано за месяц, шт: </div>
                    <div>Топ продаж: </div>
                    <div>Изменение стоимости: </div>
                    {% if data.keys|length > 1 %}
                        <div class="brand-btn">
                            <a href="{% url 'brand_details' brand %}"><button class="btn btn-small btn-primary">Подробнее..</button></a>
                        </div>
                    {% endif %}
                </div>
            </td>
            <td class="items">
                <div>
                    <table class="table table-sm">
                        <tbody>
                            {% for code, instock in shoes.items %}
                            <tr class="trLink" onclick="document.location='{% url 'index' %}?q={{ code }}'">
                                <td>
                                    <a href="{% url 'index' %}?q={{ code }}">
                                    <p>{{ code }} {% if instock.1 == 'man' %}m{% elif instock.1 == 'woman' %}w{% endif %} {{ instock.0 }}</p>
                                    </a>
                                </td>
                                <td class="price"><i>{{ instock.2 }}</i> руб.</td>
                                <td class="rate">*{% if instock.3 == True %}*{% endif %}{% if instock.4 > 0 and instock.4 < 3 %}*{% endif %}{% if instock.4 >= 3 %}**{% endif %}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
    </table>
    {% endfor %}
</div>
