{# Одиночный элемент с описанием #}

{% extends 'base.html' %}
{% load static %}

{% block title %}{{ item.model }} | Подробная информация{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'logger/css/kant.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-2">
            {% include "display/left_addition.html" %}
        </div>
        <div class="col-10">
            <div class="category">
                <img class="shoes" src="{{ item.img }}">
                <p>{{ item.code }}</p><p><b>{{ item.brand }}</b> {{ item.model }} {{ item.prices_set.first.price }}</p>
            </div>
        </div>

    </div>
</div>
{% endblock %}